{% extends 'rest_framework/api.html' %}
{% load staticfiles %}


{% block title %}OIPA API DOCS{% endblock %}

{% block branding %}
    <a class="navbar-brand" href="/api">OIPA API v4 DOCS</a>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block buttons %}
    <form class="button-form" action="{{ original_call }}" method="GET">
        <button class="btn btn-primary js-tooltip"
            title="Return to the API">API
        </button>
    </form>
{% endblock %}

{% block main-content %}
    <div class="content-main">    
        <h1>Field Selection</h1>
        <p>description: {{ field_selection.description }}</p>
        <p>usage: {{ field_selection.usage }}</p>
        <p>example usage: {{ field_selection.example_usage }}</p>
        <p>available fields: {{ field_selection.available_fields }}</p>
        <p>default fields: {{ field_selection.default_fields }}</p>
    </div>
{% endblock %}
